<h1><%= @room.name %></h1>
<p><strong>Occupancy:</strong> <%= @room.occupancy %></p>

<h3>Plant types in this room</h3>
<ul>
  <% @plants.each do |plant| %>
    <li><%= plant.plant_type %></li>
  <% end %>
</ul>
